{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block css %}

{% endblock %}
{% block body %}
<div>
  <img src="../media/images/Travel02.jpg" alt="World Traveler">
  <p>Welcome to Life With 3D: Drugs, Depression, and Death, a personal blog chronicling my own experiences as well as knowledge and wisdom from reliable sources via the internet. The content from this blog will be a combination of memoirs and guides on dealing and overcoming a consuming drug addiction, a dehabilitating depression, </p>
</div>
{% endblock %}
{% block js %} 
<script></script>
{% endblock %}